/*TopBar*/
.typeWindows-1za-n7 , .notice-2FJMB4 {background-color: rgba(0,0,0,0.7); border-bottom: 2px solid rgb(100,0,0); height: 30px}
.typeWindows-1za-n7:after {
	content: "GGO Kirito v1.0.5 By VaporousCreeper";
	color: rgb(255,255,255,0.6);
	font-weight: 500;

	position: absolute;
	top: 8px;
	left: 43.2%;
}

.wordmark-2iDDfm {top: 3.3px;}
.winButton-iRh8-Z {top: 1px;}
